<!DOCTYPE html>
<html lang="en">
    {% include '/config/metadata.html' %}
<body>
    <main>
        <video muted="muted" loop="" playsinline="" preload="auto" class="fullscreen bg-video" id="video" autoplay>
            <source src="../../static/assets/images/swatting.mp4" type="video/mp4">
        </video>
        <section class="fullscreen text-content">
            <div id="manipulate">
                <h1></h1>
            </div>
            <div id="manipulate1"></div>
            <div id="center">
                <h1 style="font-family: derk; text-shadow: 0 0 0.40em #bababa;">Error 504: Gateway Timeout</h1>
                <center><p style="font-family: derk; text-shadow: 0 0 0.40em #bababa;">He'll soon be the police in front of your house</p></center>
            </div>
        </section>
    </main>
</body>
</html>
                
